@model PersonnelPermissionFollowing.Entities.PopUps

@{
    ViewBag.Title = "PopUp Silme";
}

<div class="row">
    <div class="col-md-12">
        <p class="display-4 border-bottom"></p>
        <h3>@ViewBag.Title</h3>
        <p class="text-danger" style="font-size:16px">
            PopUp kaydını silmek istediğinize emin misiniz ?
        </p>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-offset-1">
        <dl class="dl-horizontal" style="font-size:18px">
            <div class="col-md-5">
                <dt>
                    @Html.DisplayNameFor(model => model.PopUpImage)
                </dt>
                <dd>
                    <img src="~/Images/PopUpImage/@Model.PopUpImage" alt="" width="250" height="250" class="img-responsive img-rounded img-circle" />
                </dd>
            </div>

            <div class="col-md-7">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @if (Model.IsActive)
                    {
                        <i class="fa fa-check text-success"></i>
                    }
                    else
                    {
                        <i class="fa fa-remove text-danger"></i>
                    }
                </dd>
            </div>

        </dl>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-12 text-right">
        <button type="submit" class="btn btn-danger" title="Sil"> <span class="glyphicon glyphicon-trash mr-2"></span> Sil</button>
        <a href="/PopUp/Index" class="btn btn-default" title="Geri Dön"><span class="glyphicon glyphicon-arrow-left mr-2"></span> Geri Dön</a>
    </div>
}
