@model PersonnelPermissionFollowing.Entities.Users

@{
    ViewBag.Title = "Kullanıcı Detay Sayfası";
}

<div class="row">
    <div class="col-md-12">
        <p class="display-4 border-bottom"></p>
        <h3>@ViewBag.Title</h3>
        <hr />
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <img src="~/Images/@Model.Personnels.ProfileImage" alt="" width="250" height="250" class="img-responsive img-rounded" />
    </div>

    <div class="col-md-8">
        <dl class="dl-horizontal" style="font-size:18px">
            <dt>
                @Html.DisplayNameFor(model => model.Authority.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Authority.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Personnels.Tc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Personnels.Tc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUsername)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUsername)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedOnDatetime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOnDatetime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOnDatetime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedOnDatetime)
            </dd>
        </dl>
    </div>
</div>

<div class="col-md-12 text-right">
    <a href="/User/Edit/@Model.Id" class="btn btn-warning" title="Güncelle"><span class="glyphicon glyphicon-edit mr-2"></span> Güncelle</a>
    <a href="/User/Index" class="btn btn-default" title="Geri Dön"><span class="glyphicon glyphicon-arrow-left mr-2"></span> Geri Dön</a>
</div>
