@model PersonnelPermissionFollowing.Entities.Users

@{
    ViewBag.Title = "Profil Güncelleme";
}

<div class="row">
    <div class="col-md-12">
        <p class="display-4 border-bottom"></p>
        <h4>@ViewBag.Title</h4>
        <hr />
    </div>
</div>

@using (Html.BeginForm("EditUserProfile", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group row">
        <div class="col-md-12">
            @Html.ValidationSummary(false)
            @Html.HiddenFor(model => model.Id)
        </div>
    </div>

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.PersonnelsId, "Kullanıcı", htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
            @Html.DropDownListFor(m => m.PersonnelsId, (List<SelectListItem>)ViewBag.PersonnelsId, "Lütfen kullanıcı seçiniz", new { @class = "dropdown form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control col-md-10" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-md-10" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-md-10", type = "password" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
            @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control col-md-10", type = "password" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuthorityId, "Yetki", htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
            @Html.DropDownList("AuthorityId", null, htmlAttributes : new { @class = "dropdown form-control" })
        </div>

        <div class="form-group row">
            <div class="col-md-9 col-offset-1 text-right">
                <button type="submit" class="btn btn-warning" title="Güncelle"> <span class="glyphicon glyphicon-edit mr-2"></span> Güncelle</button>
                <a href="/User/ShowUserProfile" class="btn btn-default" title="Geri Dön"><span class="glyphicon glyphicon-arrow-left mr-2"></span> Geri Dön</a>
            </div>
        </div>
    </div>
}

